			body {
				text-align: center;

			}
			.container {
				background-color: rgb(178, 247, 247);
			}
			img.awan1{
				display: block;
				padding-top: 20px;
				margin-left: 1000px;
			}
			img.awan2{
				display: block;
    margin-left: 200px;
			}
			img.unhas{
				display: inline-block;
				width:200px;
  				padding-top: 80px;
    		}
			font.judul{
				font-family: 'Pacifico', cursive;
				font-size: 70px;
				color: #66CCFF;
			}
			h2.judul{
				font-family: "Arial";
				font-size: 30px;

				color: #66CCFF;
			}
			h2.hello{
				color: #66CCFF; font-family: Arial; font-size: 40px;
			}
			hr.titik{
				border: 0px;
				line-height: 2px;
				margin-right: 630px;
				margin-left: 630px;
				border-top: 9px dotted #dddcdc;
			}
			.keahlian{
				display: flex;
				flex-direction: column;
				justify-content: left;

			
			}
			.keahlian2{
				display: flex;
				flex-direction: column;
				justify-content: right;
				
			
			}
			.header {
				justify-content: center;
				display: flex;
			}
			.gambar{
				overflow: hidden;
				margin-right: 10px;
			
			}
			.gambar2{
				overflow: hidden;
				margin-left: 150px;
			
			}
			img.gambar{

				width: 150px;
				height: 150px;
			}
			
			
		h2.hubungi{
				font-family: "Arial";
				font-size: 30px;

				color: #66CCFF;
			}

		font.bantuan{
			font-family: "Arial";
			font-size: 15px;

			color: #616060
		}

			.button {
				background-color: #66CCFF; 
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 16px;
				cursor: pointer;
				margin-top: 10px; 		
				}